/* VARIABLES & RESET */


/* converted colors to hexidecimal format so they could be used as variables */

:root {
    --color-purple: #3e52a3;
    --color-white: #ffffff;
    --color-light-gray: #d6e2f0;
    --color-grayish-blue: #7b879d;
    --color-dark-blue: #1f3251;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


/* CONTAINERS */

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-light-gray);
}

div.card {
    border-radius: 4%;
    background-color: var(--color-white);
    width: 300px;
    margin: 100px auto 0 auto;
    text-align: center;
}

div.all-text {
    margin: 0 auto 0 auto;
    padding: 15px;
}


/* ELEMENTS */

img {
    width: 270px;
    margin-top: 15px;
    border-radius: 3%;
}

p.bold-text {
    font-weight: 700;
    font-size: 21px;
    margin: 0 15px 15px 15px;
    color: var(--color-dark-blue);
}

p.text {
    font-weight: 400;
    font-size: 15px;
    color: var(--color-grayish-blue);
    margin: 0 12px 20px 12px;
}


/* CLASSES | IDs Only */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--color-purple);
}


/* @media unnecessary since image is non-responsive */